// Grid
//
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1170px
);


// Fonts
//
$montserrat: 'Montserrat', sans-serif;
$ssp: 'Source Sans Pro', sans-serif;


// Colors
//
$main: #526170;
$dark: #1a2024;
$accent: #c73f2d;
$light: #f2f2f2;